{% extends 'base.html' %}

{% block title %}
HOME
{% endblock %}
{% block header %}
HOME
{% endblock %}
{% block content %}
<h1>Hello, {{name}} , you are on the home page</h1>

<h1>Results</h1>
{% for item in results %}
<h2>ID: {{item.id}} Name: {{item.name}}  Location: {{item.location}}</h2>
{% endfor %}

{% if display %}
<p>This is being displayed</p>
{% else %}
<p>This is NOT being displayed</p>
{% endif %}

<ul>
{% for dict in list_of_dicts %}
    <li>{{dict.name}}</li>
{% endfor %}
</ul>

<img src="{{ url_for('static', filename='images/prettyprinted.png') }}" alt="" />
{% endblock %}